*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

header{
    background-color:rgb(2, 235, 177)
}

#produtos{
    background-color: rgb(45, 243, 227);
    height: 700px;
}
#parceiros{
    background-color: rgb(245, 255, 233);
    height: 700px;
}
#cadastro{
    background-color: rgb(43, 153, 226);
    height: 700px;
}
#historia{
    background-color: blue;
    height: 700px;
    padding-top: 30px;
}


.menu{
    background-color: cornflowerblue;
    padding: 15px;
}

.menu a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    transition: 0.4s;
    padding: 5px;
}

.menu a:hover{
    color: rgb(98, 231, 191);
    text-decoration: underline;
    background-color: rgb(1, 116, 96);
    border-radius: 3px;
}

.menu li{
    display: inline;
    padding: 15px;
}

.texto_1 {
    background-color: rgb(221, 143, 8);
    margin: 0 50px 0 50px;
    padding: 20px;
    border-radius: 3px;
    transition: 0.4s;
}
.texto_1:hover{
    background-color: blueviolet;
}
.texto_1 p{
    /*border: solid rgb(0, 0, 0) 2px;*/
    text-align: justify;
}
